---
layout: page

hero-img: "bunny1.png"
hero-title: "Hop into Savings"
hero-body: "Check out our sale section to see discounted items that will brighten any pet's days."
hero-action: "Sale Items"

hero-color: "FF9900"
hero-orient: "row"
---
   

<div class="home">
    <div class="section-title">
        <h2>Items</h2>
    </div>
    <div class="filter-popup">
        <span>Filter +</span>
    </div>
    
  <div class="post-list section-wrap">
   {% include filter.html %}
    <div class="product_wrap">
        {% for post in site.posts %}
            {% unless post.categories contains 'blog' %}
                
                {% include itemCard.html %}
           <!--<li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>-->
            {% endunless %}
        {% endfor %}
    </div>
  </div>

</div>
{% include banner/banners.html %}
        <div class="section-title">
        <h6>share with us</h6>    
    <h2>We Are All Family</h2>
</div>
<!-- Styling in _staffPick.scss -->
<div class="social">
    <div class="social-item">
      <a href="https://www.facebook.com/morrisanimalrefuge" target="_blank">
        <img src="../img/assets/social/facebook.png" alt="Facebook">
      </a>
    </div>
    <div class="social-item">
      <a href="https://twitter.com/MorrisAnimal" target="_blank">
        <img src="../img/assets/social/twitter.png" alt="Twitter">
      </a>
    </div>
    <div class="social-item">
      <a href="https://www.instagram.com/morrisanimalrefuge/" target="_blank">
        <img src="../img/assets/social/instagram.png" alt="Instagram">
      </a>
    </div>
</div>
<script src="{{ site.baseurl }}/filter.js"></script>