---
layout: page

hero-img: "banner-img02.png"
hero-title: "Support Us"
hero-body: "The proceeds from your purchases will cover costs ranging from food to medical care. "
hero-action: "Start Shopping"

hero-color: "9E4771"
hero-orient: "row"
---
   

<div class="home">
    <div class="section-title">
        <h2>Items</h2>
    </div>
    <div class="filter-popup">
        <span>Filter +</span>
    </div>
    
  <div class="post-list section-wrap">
   {% include filter.html %}
    <div class="product_wrap">
        {% for post in site.posts %}
            {% unless post.categories contains 'blog' %}
                
                {% include itemCard.html %}
           <!--<li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>-->
            {% endunless %}
        {% endfor %}
    </div>
  </div>

</div>


<script src="{{ site.baseurl }}/filter.js"></script>