---
layout: page

---

{% include banner/banners.html %}

<div class="section-title">
    <h2>Cart Summary</h2>
</div>


<div class="cart">
  
   <div class="cart-total"><span>Total items: 4</span></div>
   
    <div class="cart-item">
        <div class="cart-item-img">
            <img src="../img/products/log_mug.png">
        </div>
        <div class="cart-item-info">
            <h1>Morris Mug</h1>
            <p>$ 7.99</p>
            <p>Color: <span>White</span></p>
            <div class="post-item-qty">
<!--               <p><span>Quantity</span></p>-->
                <select>
                    <option value="1">QTY: 1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="cart-item-info-ctrl cart-ctrl">
                <div class="cart-item-info-ctrl-item cart-ctrl-remove">
                    <p><a href="">Remove</a></p>
                </div>
                <div class="cart-item-info-ctrl-item cart-ctrl-edit">
                    <p><a href="">Edit</a></p>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Item -->
    <div class="cart-item">
        <div class="cart-item-img">
            <img src="../img/products/womens_MARtshirt.jpg">
        </div>
        <div class="cart-item-info">
            <h1>Shelter Shirt</h1>
            <p>$ 14.99</p>
            <p>Color: <span>Red</span></p>
            <div class="post-item-qty">
                <select>
                    <option value="1">QTY: 1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="cart-item-info-ctrl cart-ctrl">
                <div class="cart-item-info-ctrl-item cart-ctrl-remove">
                    <p><a href="">Remove</a></p>
                </div>
                <div class="cart-item-info-ctrl-item cart-ctrl-edit">
                    <p><a href="">Edit</a></p>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Item -->
    <div class="cart-item">
        <div class="cart-item-img">
            <img src="../img/products/mens_lookloveadopt.png">
        </div>
        <div class="cart-item-info">
            <h1>Look. Love. Adopt. T-Shirt</h1>
            <p>$ 21.99</p>
            <p>Color: <span>White</span></p>
            <div class="post-item-qty">
                <select>
                    <option value="1">QTY: 1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="cart-item-info-ctrl cart-ctrl">
                <div class="cart-item-info-ctrl-item cart-ctrl-remove">
                    <p><a href="">Remove</a></p>
                </div>
                <div class="cart-item-info-ctrl-item cart-ctrl-edit">
                    <p><a href="">Edit</a></p>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Item -->
    <div class="cart-item">
        <div class="cart-item-img">
            <img src="../img/products/bunny_magnet.png">
        </div>
        <div class="cart-item-info">
            <h1>Morris Car Magnet</h1>
            <p>$ 3.99</p>
            <p>Color: <span>White</span></p>
            <div class="post-item-qty">
                <select>
                    <option value="1">QTY: 1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="cart-item-info-ctrl cart-ctrl">
                <div class="cart-item-info-ctrl-item cart-ctrl-remove">
                    <p><a href="">Remove</a></p>
                </div>
                <div class="cart-item-info-ctrl-item cart-ctrl-edit">
                    <p><a href="">Edit</a></p>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Item -->
</div> 

<h1 class="cart-continue"><a href="{{ site.baseurl }}">Continue Shopping</a></h1>

{% include banner/guilt.html %}

<div class="cart-donation">
    <h1 class="cart-donation-title">Would you like to add a donation?</h1>
    <div class="cart-donation_wrap">
        <div class="cart-donation-item">
            <h1>$5</h1>
            <p>Cares for one cat for a week</p>
        </div>
        <div class="cart-donation-item">
            <h1>$10</h1>
            <p>Cares for one dog for a week</p>
        </div>
        <div class="cart-donation-item">
            <h1>$25</h1>
            <p>Provides vaccines for one animal</p>
        </div>
        <div class="cart-donation-item">
            <h1>Other</h1>
            <input type="text" name="donate">
        </div>
    </div>
</div>

<div class="cart-sum">
    <div class="cart-sum-item">
        <p>Donation</p><span>$ 5.00</span>
    </div>
    <div class="cart-sum-item">
        <p>Subtotal</p><span>$ 44.97</span>
    </div>
    <div class="cart-sum-item">
        <p>Tax</p><span>$ 3.93</span>
    </div>
    <hr>
    <div class="cart-sum-item">
        <p>Total</p><span>$ 53.89</span>
    </div>
</div>

<div class="checkout_wrap">
<a href="../confirmation"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /></a>
</div>























