---
layout: default

hero-img: "catInBox.png"
hero-title: "Take Me Home"
hero-body: "Wether it's for a friend, your furry friend, or yourself, we have gifts and supplies for the whole gang."
hero-action: "Action"

hero-color: "9E4771"
hero-orient: "row"
---

<!--
    hero-color
        $light-blue: #41C3DB;
        $yellow: #FF9900;
        $green: #9BAD3B;
        $purple: #9E4771;
        $pink: #F04C8B;
        $blue: #007EA4;
        $red: #ED1A23;
    hero-orient
        Set to 'row' or 'row-reverse'
-->

<div class="home">
{% include staffPick.html %}
{% include banner/guilt.html %}
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
