<div class="button">
    <a href="{{site.baseurl}}/cart">
    <img src="http://image.flaticon.com/icons/svg/60/60992.svg">
    </a>

    <div class="cart-summary">
        <div class="carrot"></div>
        <div class="cart-summary-item cart-summary-total">
            <h4>Total: <span>$ 11.95</span></h4>
        </div>
        <div class="cart-summary-item cart-summary-prod">
            <div class="cart-summary-prod-img">

            </div>
            <div class="cart-summary-prod-desc">
                <h4>Morris Mug</h4>
                <select>
                  <option value="1">QTY: 1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <h4>$ 7.99</h4>
            </div>
        </div>
        <div class="cart-summary-item cart-summary-checkout">
            <h1>Checkout</h1>
        </div>
    </div>
</div> <!-- end button -->