<footer>
	<div class="foot-inner foot-info">
		<div class="foot-info-item">
			<img src="{{ site.baseurl }}/img/logos/condensedLogo.png" alt="Morris Animal Refuge Logo">
		</div>
		<div class="foot-info-item">
			<div class="foot-info-item_icon1" id="location">
				<img  src="{{ site.baseurl }}/img/logos/locationIcon.png" alt="Morris Animal Refuge Location">
			</div>
			<div class="foot-info-item-content">
				<h3>Contact Us</h3>
				<p>1242 Lombard Street Philadelphia Pennsylvania 19147</p>
				<p> 215 735 9570 </p>
			</div>
		</div>
		<div class="foot-info-item">
			<div class="foot-info-item_icon2" id="hours">
				<img  src="{{ site.baseurl }}/img/logos/clockIcon.png" alt="Morris Animal Refuge Hours">
			</div>
			<div class="foot-info-item-content">
				<h3>Hours of Operation</h3>
				<p>Monday, Tuesday, Saturday, Sunday <br> 11am – 4pm</p>
				<p>Wednesday, Friday <br> 11am – 7pm</p>
			</div>
		</div>
	</div>
	
    <div class="foot-line"></div>

	<div class="foot-inner foot-link">
		<div class="foot-link-item">
			<a href="">Home</a>
			<a href="">Adopt</a>
			<a href="">Donate</a>
			<a href="">Get Involved</a>
			<a href="">Contact</a>
			<a href="">About</a>
			<a href="">Retail Store</a>
			<a href="">Animal Welfare</a>
			<a href="">Surrender</a>
			<a href="">Programs</a>
		</div>
		<div class="foot-link-item">
			<a href="">Admin Portal</a>
			<a href="">Terms And Conditions</a>
			<a href="">Privacy Policy</a>
			<a href="">Sitemap</a>
			<a href="">Join our Team</a>
			<a href="">Newsletter Signup</a>
		</div>
	</div>
	<div class="foot-biz">
	<div class="foot-inner">
		<div class="foot-biz-item">
			<p>© 2017 Morris Animal Refuge &ensp; All Rights Reserved</p>
		</div>
	</div>
	</div>
</footer>
  

  
  
<!-- 
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
-->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/main.js"></script>
  
</html>
