<div class="section-title">
    <h2>Staff Picks</h2>
</div>

<div class="staff-wrap">
    <div class="staff-item">
        {% for post in site.categories.staffPickLeft limit: 2 %}
                <a href="">
                   <div class="staff-item-img" style="background-image: url('{{ site.baseurl }}/img/products/{{ post.img }}'); background-size: cover;"></div>
                    
                    <h1>{{ post.title | truncatewords: 2}}</h1>
                    <p>${{ post.price }}</p>
                </a>
        {% endfor %}
    </div>
    <div class="staff-item staff-item-card">
            <div class="staff-item-card-img">
                img
            </div>
            <div class="staff-item-card-desc">
                <div class="staff-item-card-desc_title">
                    <h1>Title</h1>
                </div>
                <div class="staff-item-card-desc_body">
                    <p>Body.</p>
                </div>
            </div>
    </div>
    <div class="staff-item">
        {% for post in site.categories.staffPickRight limit: 2 %}
                <a href="">
                    <div class="staff-item-img" style="background-image:url('../img/products/{{ post.img }}'); background-size: cover;"></div>
                    <h1>{{ post.title }}</h1>
                    <p>${{ post.price }}</p>
                </a>
        {% endfor %}
    </div>
</div>