// General Banner Styles

body {
}

.banner {
	width:100%; 
    margin:0;
	background: $green;
	overflow:hidden;
	&-content {
		max-width:$content-width;
		margin:0 auto;
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
    img {
	    width:100%;
    }
}

.banner-content-copy {
	max-width:70%;
	h1 {
		font-family: $base-font-family;
		font-weight:300;
        font-size:2em;
		color: $title-color;
        margin-bottom: 0; //Set elsewhere
	}
}


@include media-query($on-palm) {
    .banner {
        &-content {
            flex-direction: column-reverse;
            &-copy {
                padding:20px 0 0 0;
                text-align: center;
                font-size: .75em;
                line-height: 2.2em;
            }
        }
    }
}

.banner-content-icon-dog {
	animation: 
			banner-dog-peak 
			3s 
			cubic-bezier(0.68, -0.55, 0.265, 1.55) 
			3s 
			1 
			alternate 
			forwards;
	transform:translateY(100px) scale(1);
}

.banner-dog {
		height:150px;
	.dog-eye {
		animation: 
			banner-dog-blink 
			4s 
			ease-in-out 
			4s 
			infinite 
			alternate;
		transform-origin:center;
		overflow:hidden;
	}
	transform:scale(1) rotateZ(0deg) translateY(0);
	transition: all 400ms cubic-bezier(0.600, 0.270, 0.525, 1.455);
}

.banner-content-icon:hover .banner-dog{
	transform:scale(1.15) rotateZ(-10deg) translateY(-15px);
}




@keyframes banner-dog-peak {
	0% {
		transform:translateY(100px);
	}
	30% {
		transform:translateY(30px);
	}
	100% {
		transform:translateY(30px);
	}
}

@keyframes banner-dog-blink {
	0% {
		transform:rotateX(0deg);
	}
	5% {
		transform:rotateX(90deg);
	}
	10% {
		transform:rotateX(0deg);
	}
	
}

@keyframes banner-dog-wiggle {
	0% {
		transform: 
			translateY(-40px)
			translateX(-15px)
			rotate(0deg);
	}
	100% {
		transform: 
			translateY(-40px)
			translateX(-15px)
			rotate(10deg);
	}
}

/* ############
BUNNY
############## */

$drop-time: 1s;
.banner-bunny {
    height:250px;
    #Carrot1 {
      transform: translateY(-600px);
      transform-origin: 80% 80%;
      animation: banner-bunny-drop $drop-time linear 2s 1 normal forwards;

    }

    #Carrot2 {
      transform: translateY(-600px);
      transform-origin: 80% 80%;
      animation: banner-bunny-drop $drop-time linear 9s 1 normal forwards;

    }

    #Carrot3 {
      transform: translateY(-600px);
      transform-origin: 80% 80%;
      animation: banner-bunny-drop $drop-time linear 5s 1 normal forwards;

    }

    .shadow {
      animation: banner-bunny-shadow $drop-time linear 1 normal forwards;
      transform-origin: 80% 80%;
      transform:scale(0);
    }

    .shadow1 {
      animation-delay: 2s;
    }

    .shadow2 {
      animation-delay: 9s;
    }

    .shadow3 {
      animation-delay: 5s;
    }

    .water {
      animation: banner-bunny-fill 1s linear 4s 1 normal forwards;
      transform:translateX(-530px) translateY(-95px);
    }
}

@keyframes banner-bunny-drop {
  0% {
    transform: translateY(-600px) rotate(80deg);
  }
  83% {
    transform: translateY(0px) rotate(15deg);
  }
  94% {
    transform: translateY(-15px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes banner-bunny-shadow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes banner-bunny-fill {
  0% {
    transform:translateX(-530px) translateY(-95px);
  }
  100% {
    transform:translateX(-530px) translateY(-103px);
  }
}






/*General Banner*/
.bnr{
    width: 100%;
    font-family: "Poppins";
    color: #fcfcf1;
    height: 250px;
    overflow: hidden;
    margin: 0px 0;
    display:none;
}
.bnr h1{
    font-size: 1.7em;
    font-weight: 800; 
    line-height: 1.3em;
    margin: 0 0;
    letter-spacing: 2px;
}
.bnr p{
    font-weight: 200;
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 0;
    max-width: 500px;
}
.bnr a{
    text-decoration: none;
    color: #fcfcf1;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
    margin-top: 10px;
}
.bnr-content-right{
    float: left;
    width: 60%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px;
}
.bnr-words{
    width: 80%;
    padding-top: 60px;
}
.img-left{
    height: 250px;
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.half .img-left{
    width: 50%;
}
.half .bnr-content-right{
    width: 50%;
}
.bgcontain{
    background-size: contain;
}
.bgcover{
    background-size: cover;
}
.img-bottom{
    background-position: bottom center;
}
/*Specific Banners*/

/*Blue Banners*/
.lightblue-bnr{
    background-color: #41c5de;  
}
#bunnies .img-left{
    background-image: url(../img/banner/bunnies.png);
}
#bunnies .bnr-content-right{
  background-image:url(../img/banner/carrots.png);  
}

/*Purple Banners*/
.purple-bnr{
    background-color: #4a173e;
}
#paws .img-left{
    background-image: url(../img/banner/cat-dog-gradient.png);
}
#paws .bnr-content-right{
     background-image: url(../img/banner/paw_prints.png);
}
#cat-box .img-left{
    background-image: url(../img/banner/catbox.png);
}
/*Gray Banners*/
.gray-bnr{
    background-color: #343d42;
}
#morris-dog .img-left{
    background-image: url(../img/banner/dog-gradient.png);
}
#morris-dog .bnr-content-right{
    background-image: url(../img/banner/morris-gray.png);
}
#turtle .img-left{
    background-image: url(../img/banner/turtle-heart.png);
}
.clearf{
    clear: both;
    content: none;
}

/*Buttons*/
.purplebtn a{
    background-color: #9f4871;
    border: 3px solid #4a173e;
}
.bluebtn a{
    background-color: #41c5de;
    border: 3px solid #097d8b;
}
.greenbtn a{
    background-color: #94af2a;
    border: 3px solid #005e15;
}
@media screen and (max-width: 968px){
    .img-left{
        width: 30%;
        background-position: bottom right;
    }
    .bnr-content-right{
        width: 70%;
    }
    .bnr-words p{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 810px){
    .img-left{
        display: none;
    }
    .half .img-left{
        display: inline-block;
        width: 35%;
        background-size: 350px;
        background-position: right bottom;
    }
    .bnr-content-right{
        width: 100%;
    }
    .half .bnr-content-right{
        width: 65%;
    }
    .bnr-words{
//        padding-left: 5%;
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 572px){
    .bnr-words{
        padding-top: 20px;
    }
    .bnr-content-right{
        background-size: 200px;
    }
}
