.hero {
    &-orange {
        background: $yellow;
    }
    &-content {
        display:flex;
        justify-content: space-between;
        width: $content-width;
        margin: 0 auto;
        padding: 0; 
        line-height: 1em;
        color: $title-color;
        &-img {
            align-self:flex-end;
            padding:0;
            width:600px; height:300px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
        }
        &-cta {
            align-self:center;
            margin:10px 0;
            h1 {
                font-size: 2.5em;
                line-height: 1em;
            }
            p {
                margin:1em 0;
                font-size: .9em;
                line-height: 1.7em;
                font-weight: 300;
            }
            &-btn {
                cursor: pointer;
                text-transform: capitalize;
            }
        }
    }
}

@include media-query($on-palm) {
    .hero {
        width: 100%;
    &-content {
        width:100% - 10%;
        padding: 0 5%;
        flex-direction: column;
        &-img {
            width:400px;
            display:none;
        }
        &-cta {
            margin:100px 0;
        }
    }
}
}