/*
###############
        File created by Tristan Timblin.
        Purpose:
            - Styles the individual product listing posts
            - Card transition code is here
            - Structure is held in _includes/itemCard.html
        Instructions:
            1) .product-dropshadow - Uses a background image instead of an actual shadow to give it the diagonal line effect.
            2) &:hover .product-dropshadow - Has a unique transition-delay allowing it to transition out faster than it transitions in.
            3) &:hover .product-backdrop_people - This class holds the category color to change the background of the specific category, If you want to change the whole categoories color edit the variable instead.
            
###############
*/


.product_wrap {
    width:90%;
    max-width:$content-width;
	margin: 100px auto;
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

.product {
	position:relative;
	width: 30%;
    margin:0 0 $spacing-unit 0;
	
	transform: translateY(0) translateX(0);
	transition: all 300ms ease-in-out 200ms;
	
	z-index:1;
	&-dropshadow {
		position:absolute;
		width:100%; height:100%;
		opacity:0;
		background-image:url('../img/assets/diagonals.png');
		background-repeat: repeat-x repeat-y;
		background-size: 100px 100px;
		border-radius:5px;
		
		transform: translateY(0px) translateX(0px);
		transition: all 500ms ease-in-out 0ms;
		
		z-index:-1;
	}
	&:hover .product-dropshadow {
		opacity:0.3;
		transform:translateY(10px) translateX(5px);
        transition-delay: 280ms; //Only affects the in transition
	}
	&:hover {
		transform:translateY(-10px) translateX(-5px);
	}
	&-backdrop {
		position:absolute;
		width:100%; height:50%;
		opacity:0;
		border-radius:250%;
		transform: scale(.5) translateY(100px);
		transition:all 600ms ease-in-out 50ms;
		
		z-index:-1;
	}
	&:hover .product-backdrop {
		background:$purple;
		height:100%;
		opacity:1;
		border-radius:5px;
		transform: scale(1) translateY(0px);
	}
	&:hover .product-backdrop_people {
		background:$forPeople;
	}
	&:hover .product-backdrop_both {
		background:$forBoth;
	}
	&:hover .product-backdrop_pet {
		background:$forPet;
	}
	&-img {
		width:90%; height:15vw;
		margin:15px auto;
		border-radius:5px;
		background:#fff;
		background-size:cover;
		
		z-index:10;
	}
	&-content {
		display:flex;
		flex-direction:column;
		align-items:center;
		
		margin:20px 0 0 0;
		
		z-index:10;
		&-title {
			h4 {
				color: $text-color;
                font-size:1.2em;
                font-weight: 600;
                text-align: center;
				transition: all 300ms ease-in-out 150ms;
			}
		}
		&-cost {
            margin:0px 0 10px 0;
			h5 {
				line-height:1.5em;
				font-size:1em;
                font-weight: 300;
				color: $text-color;
				transition: all 300ms ease-in-out 150ms;
			}
		}
	}
	// Change the color
	&:hover .product-content-cost h5 {
		color: $title-color;
	}
	&:hover .product-content-title h4 {
		color: $title-color;
	}
	.product-buy {
		position: absolute;
		width:40%;
		right:5%;
		padding:5px 5px;
		border:1px solid $purple;
		border-radius:30px;
		background: $title-color;
		
		opacity:0;
		transform: translateY(-200px);
		transition: all 300ms ease-in-out 150ms;
		&:hover {
			box-shadow: 0px 8px 6px rgba(0,0,0,0.16), 0 3px 2px rgba(0,0,0,0.23);
		}
		h5 {
			text-align: center;
			font-size:1em;
			color: $purple;
            margin-bottom: 0;
		}
	}
    .product-buy_people {
        border:1px solid $forPeople;
        h5 {
            color: $forPeople;
        }
    }
    .product-buy_pet {
        border:1px solid $forPet;
        h5 {
            color: $forPet;
        }
    }
    .product-buy_both {
        border:1px solid $forBoth;
        h5 {
            color: $forBoth;
        }
    }
	&:hover .product-buy{
		opacity:1;
		transform: translateY(-35px);
	}
    a {
        text-decoration:none;
    }
}

#new {
  position: absolute;
  top: -10px;
  right: -25px;
  transform: rotate(25deg);
  background-color: $pink;
  padding: 5% 15% 5% 15%;
  border: 3px solid $title-color;
  border-radius: 5px 30px 5px;
  text-align: center;
  color: #fafdf0;
}

@include media-query(800px) {
    .product {
	    width: 45%;
        &-img {
            height:25vw;
            margin:15px auto;
            border-radius:3px;
        }
    }
}

@include media-query($on-palm) {
    .product {
	    width: 100%;
        &-img {
            height:55vw;
            margin:15px auto;
            border-radius:3px;
        }
    }
}

#purple {
	border:2px solid $purple;
	h5 {
		color: $purple;
	}
}
#green {
	border:2px solid $green;
	h5 {
		color: $green;
	}
}
#red {
	border:2px solid $red;
	h5 {
		color: $red;
	}
}
