<script src="{{site.baseurl}}/postbnrs.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<div>
    <div class="lightblue-bnr bnr" id="bunnies">
    <div class="img-left bgcontain img-bottom"></div>
    <div class="bnr-content-right">
        <div class="bnr-words purplebtn">
        <h1>The bunnies will thank you</h1>
        <p>Check-out our Amazon Wishlist to find supplies we recommend that keep your future pet happy and healthy.</p>
        <a href="#">Shop now on Amazon</a>    
        </div>
    </div>
        <div class="clearf"></div>
    </div>
    <div class="purple-bnr bnr" id="paws">
    <div class="img-left bgcover"></div>
    <div class="bnr-content-right">
        <div class="bnr-words bluebtn">
        <h1>Every Paw is Important</h1>
        <p>Check-out our Amazon Wishlist to find supplies we recommend that keep your future pet happy and healthy.</p>
        <a href="#">Donate</a>    
        </div>
    </div>
        <div class="clearf"></div>
    </div>
    <div class="gray-bnr bnr" id="morris-dog">
    <div class="img-left bgcover"></div>
    <div class="bnr-content-right">
        <div class="bnr-words bluebtn">
        <h1>Thank You</h1>
        <p>Every dollar spent in store or donated goes directly to helping an animal in need smile and find a home. </p>
        <a href="#">Donate</a>    
        </div>
    </div>
        <div class="clearf"></div>
    </div>
    <div class="gray-bnr half bnr" id="turtle">
    <div class="img-left bgcontain"></div>
    <div class="bnr-content-right">
        <div class="bnr-words purplebtn">
        <h1>Thank You</h1>
        <p>Every dollar spent in store or donated goes directly to helping an animal in need smile and find a home. </p>
        <a href="#">Donate</a>    
        </div>
    </div>
        <div class="clearf"></div>
    </div> 
    <div class="purple-bnr half bnr" id="cat-box">
        <div class="img-left bgcover"></div>
         <div class="bnr-content-right">
        <div class="bnr-words greenbtn">
        <h1>Take me home</h1>
        <p>Whether its for your friend, furry friend, or yourself, we have gifts for the whole gang.</p>
        <a href="#">Start Shopping</a>    
        </div>
    </div>
        <div class="clearf"></div>
    </div>
</div>