---
layout: default

hero-img: "cat-object-banner.png"
hero-title: "Take Me Home"
hero-body: "Whether it's for your friend, your furry friend, or yourself, we have gifts and supplies for the whole gang."
hero-action: "Action"

hero-color: "9E4771"
hero-orient: "row"
---
{% include banner/banners.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<div class="post-item">
    <div class="post-item_img" style="background-image: url('{{ site.baseurl }}/img/products/{{page.img}}')"></div>
</div>
<div class="post-item">
    <h1>{{ page.title }}</h1>
<!--
    <p>{{ page.type }}</p>
-->
    <p>${{ page.price }}.00</p>
    <h2>Colors</h2>
    <div class="post-item-select">
        <div class="post-item-select-item">
            <div class="post-item-select-item_circle" id="post-item-select-item_circle_white">
                <!-- Color Select -->
            </div>
            <div class="post-item-select-item_lab">
                White
            </div>
        </div>
        
        <div class="post-item-select-item">
            <div class="post-item-select-item_circle" id="post-item-select-item_circle_black">
                <!-- Color Select -->
            </div>
            <div class="post-item-select-item_lab">
                Black
            </div>
        </div>
        
        <div class="post-item-select-item">
            <div class="post-item-select-item_circle" id="post-item-select-item_circle_violet">
                <!-- Color Select -->
            </div>
            <div class="post-item-select-item_lab">
                Violet
            </div>
        </div>
    </div>
    <div class="post-item-qty">
        <h2>Quantity</h2>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    
    <div class="post-item_addCart">
        
        <div class="btn-cta">
            Add To Cart
        </div>
    </div>
</div>
    
<!--  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    
    
  </div>-->

</article>

<div class="post-desc">
    <h1>About This Item</h1>
    <div class="post-desc-inner">
        <div class="product-desc-inner-item product-desc-inner-item_content">
            {{ content }}
        </div>
        <div class="product-desc-inner-item">
            <p>All out products are dishwasher safe and machine wash. If you're not happy with your purchase you can exchange or refund your order. Thanks in supporting the Morris Animal Shelter.</p>
        </div>
    </div>
</div>

<div class="section-title">
    <h2>Related Items</h2>
</div>

<div class="post-list related-items">
<div class="product_wrap">
    {% for post in site.categories.people limit:3 %}
        {% include itemCard.html %}
    {% endfor %}
</div>
</div>








